$primary_blue: #0091FF;
$secondary_blue: #007EDE;
$alternative_blue: #006EC1;
$dark_blue: #002542;
$black: #282828;
$body_black: #4E4E4E;
$gray: #B1B1B1;
$secondary_gray: #F7F7F7;
$light_gray: #D8D8D8;
$alternative_gray: #A0A0A0;
$optional_gray: #8C8C8C;
$white: #FFFFFF;
$secondary_white: #FAFAFA;
$red_primary: #FC3C3C;